body {
    background-color:rgb(38, 113, 235)
}
h1 {
    color:goldenrod
}
div {
    background-color:cornflowerblue; 
    border-style: solid; 
    border-color: black; 
    border-radius: 5px;
}
.shadow-text {
    text-shadow: gray 1px 1px
}

#large-paragraph {
    font-size: 30px
}